<% provide :title, t(".help") %>
<h1><%= t ".help" %></h1>
<p>
  <%= t ".help" %>
  <%= link_to t(".sec"), "http://www.railstutorial.org/help" %>.
  <%= t ".get" %>
  <%= link_to t(".tut"), "http://www.railstutorial.org/book" %>
  <%= t ".book" %></a>.
</p>
