<div class="center jumbotron">
  <h1><%= t ".welcome" %></h1>
  <h2><%= t ".home" %>
  <%= link_to t(".tut"), "http://www.railstutorial.org/" %> <%= t ".sample" %>
  </h2>
  <%= link_to t(".sign"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
